.header{
    position:fixed;
    top:0px;
    left:0px;
    z-index:100000;
    width:100vw;
    padding:17px 40px;
    background-color: wheat;
    box-shadow:2px 2px 7px 3px rgb(225, 225, 225);
}

a.links{
    color:black;
    margin-right: 20px;
    text-decoration: none;
   
}

.therest{
    height:120vh;
    padding-top:65px;
}
a.links:hover{
    color: red;
}
a.active{
    color:purple;
    font-weight: bold;
}
.hamburger_icon{
    display: none;
}

